<section>
    <div class="container e-404 d-flex algn-center justify-center dir-col">
        <h2>Something's Wrong here...</h2>
        <p>We can't find the page you're looking for. Please back to the Home</p>
        <div class="mt-1">
            <a href="/" class="btn">Home</a>
        </div>
    </div>
</section>