<section>
    <div class="navbar1">
        <nav class="container2">
            <div class="logo">
                DHABA
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="/biller/customers">customer</a></li>
                    <li>{{biller_name}}</li>
                </ul>
            </div>
        </nav>
    </div>
</section>