<section>
    <div class="navbar1">
        <nav class="container2">
            <div class="logo">
                DHABA
            </div>
            <div class="nav_links">
                <ul>
                    <li><a class="active" href="/admin">items</a></li>
                    <li><a href="/admin/biller">biller</a></li>
                    <li><a href="/admin/customers">Customers</a></li>
                    <li>{{admin_name}}</li>
                </ul>
            </div>
        </nav>
    </div>
</section>