<section>
    <div class=" login-signup">
        <div class="form">
        <div class="form-heading">
            Registeration Now!
        </div>
            <form action="/signup" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter username" id="username" name="username">
                </div>
                <div class="input-group">
                    <label for="email_id">Email Id</label>
                    <input type="email" name="email_id" id="email_id" placeholder="Enter email Address">
                </div>
                <div class="input-group">
                    <label for="mobileno">Mobile No.</label>
                    <input type="text" name="mobileno" id="mobileno" placeholder="Enter your mobile number">
                </div>
                <div class="input-group">
                    <label for="shop_name">Shop Name</label>
                    <input type="text" name="shop_name" id="shop_name" placeholder="Enter your shop name">
                </div>
                <div class="input-group">
                    <label class="shop_location">Shop Location</label>
                    <input type="text" name="shop_location" id="shop_location" placeholder="Enter your shop location">
                </div>
                <div class="input-group">
                    <label class="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <div class="input-group">
                    <label class="re_password">Rewrite Password</label>
                    <input type="password" name="re_password" id="re_password" placeholder="Enter your rewrite password">
                </div>
                <div class="input-group">
                    <label for="profile_image" class="profile_image">Profile Image</label>
                    <input type="file" name="file_image" id="profile_image">
                </div>
                <div class="input-group">
                    <button type="submit" class="btn2">Register</button>
                </div>
            </form>
        </div>
    </div>
</section>